.main-menu-button {
    background-color: aquamarine;
    height: 28.66666%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 24px;
}

.main-menu-buttons-backpanel {
    background-color: rgb(88, 147, 131);
    width: 182px;
    height: 203px;
    position: absolute;
    top: 180px;
    left: 271px;
}
